@model DXCustomValidation.Models.Person

@{
    ViewBag.Title = "Shipping info";
    Action<MVCxFormLayoutItem> TextBoxSettingsMethod = (item) =>
    {
        item.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
        var tbSettings = (TextBoxSettings)item.NestedExtensionSettings;
        tbSettings.Properties.Password = tbSettings.Name.Contains("Password");
        tbSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
        tbSettings.Properties.ValidationSettings.ErrorFrameStyle.Border.BorderColor = System.Drawing.Color.Red;
        tbSettings.ShowModelErrors = true;
    };

    Action<MVCxFormLayoutItem> CheckboxSettingsMethod = (item) =>
    {
        item.NestedExtensionType = FormLayoutNestedExtensionItemType.CheckBox;
        var tbSettings = (CheckBoxSettings)item.NestedExtensionSettings;
        tbSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
        tbSettings.Properties.ValidationSettings.ErrorFrameStyle.Border.BorderColor = System.Drawing.Color.Red;
        tbSettings.ShowModelErrors = true;
    };
    Action<MVCxFormLayoutItem> MemoSettingsMethod = (item) =>
    {
        item.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
        var tbSettings = (MemoSettings)item.NestedExtensionSettings;
        tbSettings.Width = Unit.Percentage(100);
        tbSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
        tbSettings.Properties.ValidationSettings.ErrorFrameStyle.Border.BorderColor = System.Drawing.Color.Red;
        tbSettings.ShowModelErrors = true;
    };
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.DevExpress().RoundPanel(settings =>
{
    settings.Name = "rpCheckOut";
    settings.HeaderText = "Checkout your order";
    settings.ShowHeader = true;
    settings.SetContent(() =>
    {
        Html.DevExpress().FormLayout(frmSettings =>
        {
            frmSettings.Name = "FrmAddress";

            var personalItem = frmSettings.Items.AddGroupItem(personalSettings =>
            {
                personalSettings.Caption = "Personal information";
                personalSettings.ShowCaption = DefaultBoolean.True;
                personalSettings.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                personalSettings.ColCount = 3;
            });
            personalItem.SettingsItems.ShowCaption = DefaultBoolean.True;
            personalItem.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;

            personalItem.Items.Add(m => m.FirstName, TextBoxSettingsMethod);
            personalItem.Items.Add(m => m.MiddleName, TextBoxSettingsMethod);
            personalItem.Items.Add(m => m.LastName, TextBoxSettingsMethod);

            var shippingItem = frmSettings.Items.AddGroupItem(shippingSettings =>
            {
                shippingSettings.Caption = "Shipping address";
                shippingSettings.ShowCaption = DefaultBoolean.True;
                shippingSettings.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
            });
            shippingItem.SettingsItems.ShowCaption = DefaultBoolean.True;
            shippingItem.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
            shippingItem.Items.Add(m => m.ShippingAddress, MemoSettingsMethod);            

            frmSettings.Items.Add(m => m.BillingSameAsShipping);

            var billingItem = frmSettings.Items.AddGroupItem(billingSettings =>
            {
                billingSettings.Caption = "Billing address";
                billingSettings.ShowCaption = DefaultBoolean.True;
                billingSettings.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
            });
            billingItem.SettingsItems.ShowCaption = DefaultBoolean.True;
            billingItem.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
            billingItem.Items.Add(m => m.BillingAddress, MemoSettingsMethod);
            
        }).Render();


    });
}).GetHtml()
    <p>
        <input type="submit" value="Proceed with checkout" />
    </p>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
